In [1]:
import findspark
findspark.init()

import pyspark

In [2]:
import pyspark
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.getOrCreate()
df = spark.sql("select 'spark' as hello ")
df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

In [4]:
weather = spark.read.csv('export.csv', inferSchema=True, header=True)
#Checking out the dataframe to display  number of rows x columns
print("Dataframe Shape: ", (weather.count(), len(weather.columns)))

Dataframe Shape:  (26078, 8)

In [5]:
#GOAL:1
#Calculate the mean rainfall from all stations for the given years.

from pyspark.sql.functions import col
goupList =["station","year"]
weather.groupby(goupList).agg({"rain": "mean"}).orderBy(goupList).write.csv("goal1")

In [6]:
#Goal 2
#To calculate the average rainfall for a specific station over a given period.
weather.filter(weather['station'] =='aberporth') \
.groupby("year").agg({"rain": "mean"}).orderBy("year").show(100);

+----+------------------+
|year|         avg(rain)|
+----+------------------+
|1957| 79.89166666666667|
|1958| 89.92500000000001|
|1959| 83.81666666666665|
|1960|           107.675|
|1961|             80.95|
|1962| 67.59166666666667|
|1963| 66.35000000000001|
|1964|56.741666666666674|
|1965| 75.14166666666667|
|1966|             80.55|
|1967| 80.46666666666667|
|1968| 67.44999999999999|
|1969| 66.69166666666666|
|1970|              73.1|
|1971| 73.37499999999999|
|1972| 75.91666666666667|
|1973| 62.98333333333334|
|1974| 83.04166666666667|
|1975|              54.6|
|1976|             60.75|
|1977| 74.38333333333334|
|1978| 61.21666666666667|
|1979| 81.30000000000001|
|1980| 68.94166666666666|
|1981| 78.54166666666667|
|1982| 76.46666666666667|
|1983| 68.47500000000001|
|1984| 71.05833333333334|
|1985| 72.58333333333333|
|1986| 73.74166666666666|
|1987| 70.97500000000001|
|1988| 74.84166666666665|
|1989| 65.35833333333333|
|1990| 62.64166666666668|
|1991| 64.12500000000001|
|1992|            76.125|
|1993| 82.26666666666667|
|1994| 87.58333333333333|
|1995| 69.06666666666666|
|1996| 57.74166666666667|
|1997|              74.3|
|1998| 80.86666666666667|
|1999| 79.54166666666667|
|2000|             92.55|
|2001| 79.25714285714285|
|2002| 91.12727272727271|
|2003| 59.01666666666667|
|2004| 77.93636363636364|
|2005| 68.56666666666666|
|2006| 71.63333333333333|
|2007| 74.36666666666666|
|2008| 85.44166666666666|
|2009| 84.16666666666664|
|2010| 59.48333333333333|
|2011| 61.38333333333333|
|2012| 96.06666666666666|
|2013| 72.79166666666667|
|2014| 87.16666666666667|
|2015|             84.85|
|2016| 70.16666666666667|
|2017| 84.03333333333335|
|2018| 83.68333333333334|
|2019| 85.93333333333334|
|2020|              74.5|
+----+------------------+